html, body, #stage {
  width: 100%;
  height: 100%;
}

body {
  color: #F8F8F8;
  background: #282828;
  font-family: sans-serif;
  margin: 0;
}

#stage {
  display: block;
  margin: 0 auto;
}

#stage:focus {
  outline: none;
  box-shadow: 0 0 0.5em #0089af;
}
